.form {
  display: flex;
  flex-direction: column;
  box-shadow: 0.2rem 0.2rem 0.3rem 0.2rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 0.5rem;
}

.group {
  margin-bottom: 1rem;
}

.label {
  display: inline-block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.input {
  width: 100%;
  border: 1px solid lightgray;
  padding: 0.5rem;
  outline: none;
}

.btn {
  align-self: flex-end;
  background-color: #960019;
  padding: 1rem 1.5rem;
  border-radius: 0.3rem;
  font-weight: bold;
  color: #fff;
  outline: none;
  border: none;
  margin-top: 1rem;
  cursor: pointer;
}
